<header class="header">
  <h1 class="heading">Board</h1>
</header>
<main
  class="board-container"
  tuduDragArea
  [tuduAutoScroll]="dragAndDropService.isDragging$ | async"
  [tuduAutoScrollUnit]="2"
  [tuduAutoScrollSpeedZones]="4"
>
  <div class="board">
    @for (column of board; track $index) {
    <div class="drop-list" tuduDropList (tuduDropListDrop)="onDrop($event)">
      @for (ticket of column; track ticket) {
      <div class="draggable" tuduDraggable>
        {{ ticket }}
      </div>
      } @empty {
      <div>There are no items.</div>
      }
    </div>
    }
  </div>
  <tudu-minimap [columns]="board" />
</main>
