<header>
  <h2 class="logo">Td</h2>
</header>
<nav class="navigation">
  @for (link of navigationLinks; track link.label) {
  <a
    tudu-sidebar-button
    [icon]="link.icon"
    [label]="link.label"
    [compact]="compact"
    [routerLink]="link.path"
    routerLinkActive="active"
  ></a>
  }
</nav>
<footer class="footer">
  <button
    tudu-sidebar-button
    [icon]="(themeService.theme$ | async) === 'light' ? 'sun' : 'moon'"
    buttonTitle="Theme"
    [label]="'theme.' + (themeService.theme$ | async) | translate"
    [compact]="compact"
    (click)="themeService.toggle()"
  ></button>
  <button
    tudu-sidebar-button
    icon="sidebar"
    buttonTitle="Sidebar"
    [label]="'sidebarAppearance.' + (compact ? 'compact' : 'default') | translate"
    [compact]="compact"
    (click)="toggleAppearance()"
  ></button>
  <a
    tudu-sidebar-button
    icon="settings"
    label="Settings"
    [compact]="compact"
    routerLink="settings"
    routerLinkActive="active"
  ></a>
  <!-- <button
    tudu-sidebar-button
    icon="user"
    buttonTitle="User"
    label="Krisztian Kugler"
    [compact]="compact"
    (click)="toggleUserMenu()"
  ></button> -->
</footer>
