:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 200ms;

  &.fadeOut {
    animation: fadeOut 200ms forwards;
  }
}

.modal {
  min-width: 400px;
  border-radius: 6px;
  background-color: var(--color-background);
  animation: zoomIn 200ms;

  &.zoomOut {
    animation: zoomOut 200ms forwards;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 24px;
}

.close {
  margin-left: auto;
  cursor: pointer;
}

.footer {
  height: 96px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  to {
    transform: scale(0.8);
  }
}
