<header class="header">
  <h1 class="heading">Board</h1>
</header>
<main class="board-container">
  <div class="board" tuduDropListGroup>
    @for (column of board; track $index) {
    <div class="drop-list" tuduDropList tuduDraggable (tuduDropListDrop)="onDrop($event)">
      @for (ticket of column; track ticket) {
      <div class="draggable" tuduDraggable (tuduDropListEnter)="test($event)">
        {{ ticket }}
      </div>
      } @empty {
      <div>There are no items.</div>
      }
    </div>
    }
  </div>
  <tudu-minimap [columns]="board" />
</main>
